*,
*::after,
*::before {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
}

.header-text2 {
  position: relative;
  color: white;
  font-size: 64px;
  font-weight: 300;
  margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.header-text3 {
  position: relative;
  color: #517e02;

  font-size: 32px;
  font-weight: 300;
  margin-left: 5vw;
  margin-right: 5vw;
  left: 0;
}

.start-button {
  /*
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  padding: 10px;
  font-weight: 600;
  line-height: 87px;
  letter-spacing: 0em;
  border-radius: 12px; */

  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;

  border-radius: 40px;
  background: #609800;
  color: #fff;
  box-shadow: 0 6px #517e02;
  transition: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 20px 70px;
  display: inline-block;
  margin: -20px 1px;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
}

body {
  background-image: url("homepage-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.world-map {
  /* padding: 300px; */
  width: 100%;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  width: 95%;
  /* max-width: 80%; */
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
/* 
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
} */

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #49c0f8;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.flexContainer {
  display: flex;
}

.flex1 {
  flex-grow: 2;
}

.flex2 {
  flex-grow: 1;
}

/*globe*/
.parent {
  position: relative;
}
.globe {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 320px;
}
.marquee1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 230px;
  margin-right: 40px;
  margin-top: 40px;
  padding-right: 20px;
  line-height: 50px;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100%;
}
.marquee1 img {
  position: relative;
  display: inline-block;
  /* width: 20%;
  height: 20%; */
  top: 41%;
  left: 6%;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}
.marquee2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 230px;
  margin-right: 40px;
  margin-top: 40px;
  padding-right: 20px;
  line-height: 50px;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100%;
}
.marquee2 img {
  position: relative;
  display: inline-block;
  top: 19%;
  left: 6%;
  padding-left: 100%;
  animation: marquee 9s linear infinite;
}
.marquee3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 230px;
  margin-right: 40px;
  margin-top: 40px;
  line-height: 50px;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100%;
}
.marquee3 img {
  position: relative;
  display: inline-block;
  top: 74%;
  left: 6%;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
