.container {
  min-height: calc(100vh - 75px);
  background-color: #2a5892;
  color: #2a5892;
}

.content {
  display: flex;
}

.formCircle {
  border-radius: 50%;

  height: 200px;
  width: 200px;
  background-color: #e5e5e5;
  margin: 10px 10px 10px 10px;
}
.formAbout {
  min-width: 35%;
}
.formInterest {
  min-width: 65%;
}
.imageDiv {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.editProfile {
  background-color: white;
}

.formEnterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55vh;

  div {
    color: black;
    border-radius: 80px;
    background-color: whitesmoke;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.formInterestBox {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.formInterestForm {
  border-radius: 80px;
  height: 85vh;
  width: 100%;
  background-color: #acd1ff;
  margin: 10px 10px 10px 10px;
}
