.container {
  min-height: 100vh;
  background-color: #2a5892;
  color: #2a5892;
}
.content {
  background-color: #acd1ff;
  display: flex;
  justify-content: center;
  min-width: 50vw;
  margin-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 50vh;
  border-radius: 64px;
  text-align: center;
}
