.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  color: white;
  background: #2a5892;
}

.logoImage {
  height: 75px;
}
.logoText {
  font-size: 35px;
  font-family: sans-serif;
}
